* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;

  font-family: sans-serif;
  user-select: none;
}

button {
  background: none;
  outline: none;
  border: none;
}

svg {
  fill: #ffffff;
  height: 15px;
  width: 15px;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.div_j6JA7Rb {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  gap: 10px;
}

.div_tEuIgMe {
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.div_uf5lPAu {
  margin: auto;
  margin-top: initial;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
  overflow: auto;

  padding: 10px;
  gap: 10px;

  width: 100%;
}

.div_bChaKnx {
  aspect-ratio: 1/1;

  display: grid;
  overflow: hidden;

  border-radius: 50%;

  &:focus {
    outline: 3px solid #fff;
  }

  &.focus {
    outline: 3px solid #fff;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.button_SEUiBz3 {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  overflow: hidden;

  &:focus {
    outline: 3px solid #fff;
  }

  &.focus {
    outline: 3px solid #fff;
  }

  & img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
