* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  color: #ffffff;

  font-family: sans-serif;
  user-select: none;
}

button {
  background: none;
  outline: none;
  border: none;
}

svg {
  fill: #ffffff;
  height: 15px;
  width: 15px;
}

#app {
  position: fixed;
  width: 100%;
  height: 100%;

  overflow: hidden;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.header_mO3t4Y0 {
  display: flex;
}

.header_mO3t4Y0 svg {
  fill: #000000;
}

.div_DuHLFba {
  background: #000000;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;

  border-radius: 15px 15px 0 0;
}

.div_DuHLFba .div_557EbR4 {
  border-bottom: 1px solid rgb(189 178 178 / 0.2);
}

.div_557EbR4 {
  width: 100%;
  display: grid;
}

.div_6pxFPgJ {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.div_6pxFPgJ img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.div_6pxFPgJ p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* número de líneas */
  overflow: hidden;
  text-overflow: ellipsis;
}

.div_VWyUlPI {
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 10px;
}

.button_x7jX1VV {
  height: 40px;

  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button_x7jX1VV.one:focus {
  background: #000000;
}

.button_x7jX1VV.one:focus svg {
  fill: #ffffff;
}

.button_x7jX1VV.two:focus {
  background: #ffffff;
}

.button_x7jX1VV.two:focus svg {
  fill: #000000;
}
